@model AngularBloggingContext


@{
    ViewData["Title"] = "Index";
}

<h4>Add Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form-angular asp-action="AddBlog"
                   ang-on-success-append="Blogs" ang-on-success-append-external="main" >
            @Html.Partial("addBlog", new Blog())
        </form-angular>
    </div>
</div>


<h2>Data from angular</h2>


<div-angular ang-data="Blogs" ang-identifier="main">
    <div-angular class="well" ang-repeat="Blogs">
        <h3-angular ng-bind="Blog.Url"></h3-angular>

        <div class="panel-group">
            <div-angular ang-repeat="Blog.Posts" ang-repeat-to="Post" class="panel panel-primary">
                <div class="panel-heading">
                    <div-angular ang-bind="Post.Title"></div-angular>
                </div>
                <div class="panel-body">
                    <div-angular ang-bind="Post.Content"></div-angular>
                </div>
            </div-angular>
        </div>
        <div>
            <button class="btn btn-success">Add Post</button>
        </div>

    </div-angular>
</div-angular>


@section scripts{
    <script-angular></script-angular>
    @Html.Partial("_ValidationScriptsPartial")
}
