@model AngularBloggingContext

@inject Website.Services.BloggingProvider Provider

@{
    ViewData["Title"] = "Index";
}


<h2>Blogs</h2>

<form asp-action="addBlog" on-success-append="Blogs" on-success-append-external="blogging"
                on-failure-load-result="true" >
    @Html.Partial("AddBlog", new Blog())
</form>

<div ang-source="Provider.GetBlogs(User)" ang-destination="Blogs" ang-identifier="blogging">

    <div ang-repeat="Blogs">
        <h3 ang-bind="Blog.Url"></h3>

        <div class="well">
            <div ang-repeat="Blog.Posts" ang-repeat-to="Post" class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading" ang-bind="Post.Title"></div>
                    <div class="panel-body">
                        <div ang-bind="Post.Content"></div>
                    </div>
                </div>
            </div>
            <div swapable="">
                <button swap-index="0" ng-click="swap()" class="btn btn-success">Add</button>
                <div swap-index="1">
                    <form asp-action="addPost" on-success-append="Blog.Posts" load-on-swap="true"
                              on-success-swap="true"
                       on-failure-load-result="true" load-route="~/angular/addpost?blogID=" load-key="Blog.BlogId">
                    </form>
                    <button ng-click="swap()" class="btn btn-success">Cancel</button>
                </div>
            </div>
        </div>


    </div>

</div>




@section scripts {
    <script-angular></script-angular>
    @Html.Partial("_ValidationScriptsPartial")
}